<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="4.0"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <display-name>mymhs</display-name>

  <listener>
    <listener-class>me.jaminbagel.mymhs.Main</listener-class>
  </listener>

  <servlet>
    <servlet-class>me.jaminbagel.mymhs.api.endpoint.session.SessionID</servlet-class>
    <servlet-name>session-id</servlet-name>
  </servlet>
  <servlet>
    <servlet-class>me.jaminbagel.mymhs.api.endpoint.session.Authenticate</servlet-class>
    <servlet-name>session-auth</servlet-name>
  </servlet>
  <servlet>
    <servlet-class>me.jaminbagel.mymhs.api.endpoint.session.StudentID</servlet-class>
    <servlet-name>session-student-id</servlet-name>
  </servlet>

  <servlet>
    <servlet-class>me.jaminbagel.mymhs.api.endpoint.student.Summary</servlet-class>
    <servlet-name>student-summary</servlet-name>
  </servlet>


  <servlet-mapping>
    <servlet-name>session-id</servlet-name>
    <url-pattern>/api/v1/session</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>session-auth</servlet-name>
    <url-pattern>/api/v1/session/auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>session-student-id</servlet-name>
    <url-pattern>/api/v1/session/student</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>student-summary</servlet-name>
    <url-pattern>/api/v1/student/summary</url-pattern>
  </servlet-mapping>
</web-app>